body {
    background-image: url(../images/train3.jpg);
    background-size: cover;
    font-family: 'Grenze', serif;
}

.jumbotron, .card {
    opacity: .6;
    color:rgb(17, 4, 20);
}

.display-4 {
    font-size: 70px;
}

.lead {
    font-size: 32px;
}
.card {
    font-size: 20px;
}